body {
  width: 400px;
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  color: #2D2DD1;
  padding-bottom: 5px;
}

.title {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.data {
  width: 375px;
  border: 1px solid lightblue;
  border-radius: 7px;
  padding: 8px;
  margin: 5px;
}
.delete {
  float: right;
  margin-top: 5px;
  color: maroon;
  background-color: white;
  font-size: 10px;
  border: 1px solid lightcoral;
  border-radius: 80px;
}

.sender {
  font-size: 14px;
}

p {
  white-space: normal;
  display:inline-block;
  font-size: 13px;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  height: 25px;
  display: inline-block;
}

a {
  overflow-wrap: normal;
  white-space: normal;
}
